@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oswald:wght@700&family=Passion+One:wght@700&display=swap");

body {
	display: flex;
	justify-content: center;
	background-color: #333333;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: black;
}
